
/* Default light color scheme */
:root {
    --main_bg: rgb(255,255,255);

    --header_color: #555;
    --header_links_color: var(--header_color);
    --header_bg: #f2f2f2;

    --header_control_color:  rgba(0,0,0, 0.80);
    --header_control_bg:     rgba(0, 0, 0, 0.04);
    --header_control_border: rgba(128,128,128,0.75);

    /* Filter styling */
    --filter_reset_bg:            rgba(0,0,0,0.07);
    --filter_reset_bg_hover:      rgba(0,0,0,0.15);
    --filter_reset_text:          rgba(0,0,0,0.60);
    --filter_reset_text_hover:    rgba(0,0,0,0.70);
    --filter_reset_border:        rgba(0,0,0,0.40);
    --filter_control_label_color: var(--header_control_color);

    /* Gallery item styling */
    --item_body_color: #222;
    --item_body_color_light: #606060;

    --item_meta_bg_platforms:    #ececec; /* light grey  */
    --item_meta_bg_opensource:   #a0ffa6; /* light green */
    --item_meta_bg_supportslink: #ffdbef; /* light pink  */
    --item_meta_bg_cartrelease:  #cbebff; /* light blue  */
    --item_meta_bg_hardwarefeatures: rgb(255, 217, 169); /* light orange */
    --item_meta_text: rgba(0,0,0,0.40);
}


@media (prefers-color-scheme: dark) {
    :root {
        --main_bg: rgb(28,28,28);

        --header_color: rgba(192, 192, 192, 0.70);
        --header_links_color: var(--header_color);
        --header_bg: rgba(128,128,128,0.05);

        --header_control_color:  var(--header_color);
        --header_control_bg:     rgba(0, 0, 0, 0.24);
        --header_control_border: rgba(128,128,128,0.5);


        /* Filter styling */
        --filter_reset_bg:            rgba(255,255,255,0.07);
        --filter_reset_bg_hover:      rgba(255,255,255,0.15);
        --filter_reset_text:          rgba(255,255,255,0.60);
        --filter_reset_text_hover:    rgba(255,255,255,0.70);
        --filter_reset_border:        rgba(255,255,255,0.40);
        --filter_control_label_color: rgba(255,255,255,0.40);

        /* Gallery item styling */
        --item_body_color: rgba(255,255,255,0.60);
        --item_body_color_light: rgba(255,255,255,0.45);

        --item_meta_bg_platforms:    rgba(192, 192, 192, 0.30); /* light grey  */
        --item_meta_bg_opensource:   rgba(68, 255, 80, 0.40);   /* light green */
        --item_meta_bg_supportslink: rgba(255, 101, 186, 0.40); /* light pink  */
        --item_meta_bg_cartrelease:  rgba(92, 192, 255, 0.40);  /* light blue  */
        --item_meta_bg_hardwarefeatures:  rgba(255, 168, 58, 0.4); /* light orange */
        --item_meta_text: rgba(0,0,0,0.70);
    }
}

body {
  background: var(--main_bg);
  margin: 0 auto;
  font-family: sans-serif;
}


select, checkbox, input {
    color: var(--header_control_color);
    background: var(--header_control_bg);
    background-image: none;
    border: 1px solid var(--header_control_border);
    border-radius: 3px;
}


/* These are attached to body based on javascript attempted mobile/desktop detection */
.desktop {
  font-size: calc(12px + 0.390625vw);
}
.mobile {
  font-size: calc(35px + 0.390625vw);

    /* Scale up checkbox ui elements on mobile so they aren't tiny*/
    /* Fix for lack of label spacing next to checkbox on mobile */
    input[type=checkbox] {
        transform: scale(2.75);
        vertical-align: 0.5rem;
        margin-right: 0.25em;
    }
}


.header {
    /*box-shadow: 0 3px 5px rgba(0,0,0,.02),0 0 2px rgba(0,0,0,.05),0 1px 4px rgba(0,0,0,.08);*/
    box-shadow: 0 0.5em 2em rgba(0,0,0,0.15);
    background-color: var(--header_bg);
    padding: 1em;
    margin-bottom: 2em;
}

.topbanner {
    /*width: 50%;*/
    font-weight: normal;
    font-family: "Liberation Sans", "Nimbus Sans", Helvetica, "Helvetica Neue", "Trebuchet MS", Verdana, sans-serif;
    color: var(--header_color);
    margin-bottom: 1em;
}
.topbanner > h1 {
    font-weight: normal;
}
.topbanner > a {
    font-family: "Liberation Sans", "Nimbus Sans", Helvetica, "Helvetica Neue", "Trebuchet MS", Verdana, sans-serif;
    color: var(--header_links_color);
}



.gallery_container {
    padding: 0.5em;
}

.gallery_grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 0.75em;
  row-gap: 2em;
}

.gallery_grid_item {
  display: flex;
  align-items: start;  /* Top align child divs */
  justify-content: center;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .gallery_grid_item {
    margin: 0;
  }
}

.itemContainer {
    width: 320px;
}

    .itemPreview {
    width: 320px;
}



.itemTitle {
    font-weight: bold;
    color: var(--item_body_color);
}

.authorName,
.shortDescription,
.itemYear {
    font-size: .875em;
    color: var(--item_body_color_light);
}

.itemLinks > a {
    margin-right: 0.5em;
    font-size: 0.875em;
    color: var(--item_body_color_light);
}

.itemMeta > span {
    display: inline-block;
    margin: 0.15em 0.5em 0.15em 0;  /* top | right | bottom | left */
    font-size: 0.875em;
    border-radius: 0.25em;
    padding: 0.15em;
    cursor: pointer;
}

.itemMetaPlatforms {
    color: var(--item_meta_text);
    background: var(--item_meta_bg_platforms);
}
.itemMetaOpenSource {
    color: var(--item_meta_text);
    background: var(--item_meta_bg_opensource);
}
.itemMetaSupportsLink {
    color: var(--item_meta_text);
    background: var(--item_meta_bg_supportslink);
}
.itemMetaCartRelease {
    color: var(--item_meta_text);
    background: var(--item_meta_bg_cartrelease);
}
.itemMetaHardwareFeatures {
    color: var(--item_meta_text);
    background: var(--item_meta_bg_hardwarefeatures);
}



/* *** Form controls ***  */

.filter_container {
    display: flex;
    flex-wrap: wrap;

    column-gap: 1em;
    row-gap: 2em;
}

.checkbox_label {
    white-space:nowrap;
    color: var(--filter_control_label_color);
}


/* Fix input elements scaling with body font size */
input,
select {
    font-size:inherit;
/*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
*/
}


.filter_textsearch {
    color: var(--header_color);
}

.filter_span_button {
    text-align: center;
    display: inline-block;
    margin: 0.25em 0.10em 0 0;  /* top | right | bottom | left */
    font-size: 0.875em;
    border-radius: 0.25em;
    padding: 0.15em;
    color: var(--filter_reset_text);
    background-color: var(--filter_reset_bg);
    border: 1px solid var(--filter_reset_border);
    /*min-width: 5em;*/
    cursor: pointer;
}

span.filter_span_button:hover {
    background-color: var(--filter_reset_bg_hover);
    color: var(--filter_reset_text_hover);
}

